.container {
	max-width: 800px;
	margin: 50px auto;
	text-align: left;
 }
 
 .input {
	max-width: calc(100%);
 }
 
 button {
	margin-left: 10px;
 }
 
 img {
	max-width: 200px;
	max-height: 150px;
	margin: 10px;
	cursor: pointer;
	transition: transform 0.3s, box-shadow 0.3s;
 }
 
 img:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }
 
 #error {
	color: red;
 }
 
 #imageContainer {
	margin-top: 150px;
 }
 
 .image-active {
	position: relative;
	z-index: 1;
	transform: scale(1);
 }
 
 .image-effects {
	position: relative;
	z-index: 100;
	transform: scale(3);
 }
 